<%- include("header") %>

<div class="box">
    <h1 id="heading"><%= ListTitle %></h1>
</div>

<div class="box">
    <% for (var i=0; i<showItem.length; i++) { %>
    <div class="item">
        <input type="checkbox">
        <p><%= showItem[i] %></p>
    </div>
    <% } %>

    <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" required>
        <button type="submit" name="list" value= <%= ListTitle %> >+</button>
    </form>
</div>

<%- include("footer") %>

